<h4>Dashboard</h4>
<div class="card-deck text-center">
  <div class="card">
    <div class="card-header">Waitlist</div>
    <div class="card-body">
      <strong>15</strong>
      <span>Users</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Table Orders</div>
    <div class="card-body">
      <strong>12</strong>
      <span>Total occupied</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Pre Orders</div>
    <div class="card-body">
      <strong>12</strong>
      <span>Total occupied</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Menu Management</div>
    <div class="card-body">
      <strong>2</strong>
      <span>Total Menus</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Menu Management</div>
    <div class="card-body">
      <strong>35</strong>
      <span>Total Items</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Gallery</div>
    <div class="card-body">
      <strong>20</strong>
      <span>Total Gallery</span>
    </div>
  </div>
</div>
