<h4>Dash Board</h4>
<div class="card-deck text-center">
  <div class="card">
    <div class="card-header">Reservation</div>
    <div class="card-body">
      <strong>15</strong>
      <span>Reservastion</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Category</div>
    <div class="card-body">
      <strong>12</strong>
      <span>Total Category</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Menu</div>
    <div class="card-body">
      <strong>35</strong>
      <span>Total Menu</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Gallery</div>
    <div class="card-body">
      <strong>20</strong>
      <span>Total Gallery</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Live Update</div>
    <div class="card-body">
      <strong>5</strong>
      <span>Total Tables</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Notifications</div>
    <div class="card-body">
      <strong>3</strong>
      <span>Messages</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Statistics</div>
    <div class="card-body">
      <strong>22</strong>
      <span>Reports</span>
    </div>
  </div>
</div>
