<div class="category-form">
  <form>
    <div class="form-group">
      <label for="inputName">Name:</label>
      <input [(ngModel)]="menu.name" placeholder="Enter menu item name" name="inputName" class="form-control" id="inputName">
    </div>

    <div class="form-group">
      <label for="inputDescription">Description:</label>
      <input [(ngModel)]="menu.description" id="inputDescription"  name="inputDescription" class="form-control" placeholder="Enter category description"/>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" [attr.id]="menu.active" [(ngModel)]="menu.active" (change)="log($event)" [checked]="menu.active" name="inputActive" id="inputActive"/>
        <label class="form-check-label" for="inputActive">Active</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="createMenu()">Save Menu</button>

  </form>
</div>