<h4>Menu</h4>


<div class="form-controls">
  <form class="form-inline">
    <div class="form-group">
      <button class="btn btn-primary add-menu-btn" type="button" routerLink="/addmenu">Add Menu</button>
    </div>
  </form>
</div>


<table class="table table-striped table-list">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Active</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let menu of (menus$ | async)">
    <th scope="row"> {{menu.name}}</th>
    <td> {{menu.description}}</td>
    <td> {{menu.active}}</td>
    <td><a [routerLink]="['/editmenu', menu.id]">Edit</a> | <a (click)="deleteMenu(menu.id)" [routerLink]="">Delete</a> | <a [routerLink]="['/editmenuitems', menu.id]">Items</a></td>
  </tr>
  </tbody>
</table>
