<h4>Waitlist</h4>
<h5>Click user to assign table</h5>
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>-->

<div class="visitor-cards">
  <a data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
    <div class="visitor-card">
    <div class="visitor-content">
      <div class="visitor-info">
        <h3>John Doe</h3>
        <div>john.doe@email.com</div>
      </div>
      <div class="visitor-avatar">
        <img src="image/1.jpg" alt="User Avatar" />
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary" type="button"  data-toggle="modal"  data-target="#exampleModal" aria-haspopup="true" aria-expanded="false">
        Assign Table
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Available Tables</h6>
        <button class="dropdown-item" type="button">Table 1 <span>(6)</span></button>
        <button class="dropdown-item" type="button">Table 4 <span>(8)</span></button>
        <button class="dropdown-item" type="button">Table 9 <span>(4)</span></button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Cancel Assignment</a>
      </div>
    </div>
  </div>
  </a>
  <div class="visitor-card">
    <div class="visitor-content">
      <div class="visitor-info">
        <h3>John Doe</h3>
        <div>john.doe@email.com</div>
      </div>
      <div class="visitor-avatar">
        <img src="image/0.svg" alt="User Avatar" />
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assign Table
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Available Tables</h6>
        <button class="dropdown-item" type="button">Table 1 <span>(6)</span></button>
        <button class="dropdown-item" type="button">Table 4 <span>(8)</span></button>
        <button class="dropdown-item" type="button">Table 9 <span>(4)</span></button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Cancel Assignment</a>
      </div>
    </div>
  </div>
  <div class="visitor-card">
    <div class="visitor-content">
      <div class="visitor-info">
        <h3>John Doe</h3>
        <div>john.doe@email.com</div>
      </div>
      <div class="visitor-avatar">
        <img src="image/0.svg" alt="User Avatar" />
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assign Table
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Available Tables</h6>
        <button class="dropdown-item" type="button">Table 1 <span>(6)</span></button>
        <button class="dropdown-item" type="button">Table 4 <span>(8)</span></button>
        <button class="dropdown-item" type="button">Table 9 <span>(4)</span></button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Any other link</a>
      </div>
    </div>
  </div>
  <div class="visitor-card">
    <div class="visitor-content">
      <div class="visitor-info">
        <h3>John Doe</h3>
        <div>john.doe@email.com</div>
      </div>
      <div class="visitor-avatar">
        <img src="image/0.svg" alt="User Avatar" />
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assign Table
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Available Tables</h6>
        <button class="dropdown-item" type="button">Table 1 <span>(6)</span></button>
        <button class="dropdown-item" type="button">Table 4 <span>(8)</span></button>
        <button class="dropdown-item" type="button">Table 9 <span>(4)</span></button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Any other link</a>
      </div>
    </div>
  </div>
  <div class="visitor-card">
    <div class="visitor-content">
      <div class="visitor-info">
        <h3>John Doe</h3>
        <div>john.doe@email.com</div>
      </div>
      <div class="visitor-avatar">
        <img src="image/0.svg" alt="User Avatar" />
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assign Table
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Available Tables</h6>
        <button class="dropdown-item" type="button">Table 1 <span>(6)</span></button>
        <button class="dropdown-item" type="button">Table 4 <span>(8)</span></button>
        <button class="dropdown-item" type="button">Table 9 <span>(4)</span></button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Any other link</a>
      </div>
    </div>
  </div>
  <div class="visitor-card">
    <div class="visitor-content">
      <div class="visitor-info">
        <h3>John Doe</h3>
        <div>john.doe@email.com</div>
      </div>
      <div class="visitor-avatar">
        <img src="image/0.svg" alt="User Avatar" />
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assign Table
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Available Tables</h6>
        <button class="dropdown-item" type="button">Table 1 <span>(6)</span></button>
        <button class="dropdown-item" type="button">Table 4 <span>(8)</span></button>
        <button class="dropdown-item" type="button">Table 9 <span>(4)</span></button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Any other link</a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>