<h4>Live Update</h4>
<div class="card-deck live-updates-cards text-center">
  <div class="card">
    <div class="card-body">
      <strong>Table 13</strong>
      <div class="order-title">Order No. 101</div>
      <ul>
        <li><span>Item 1</span><span>1</span></li>
        <li><span>Item 2</span><span>1</span></li>
        <li><span>Item 3</span><span>2</span></li>
        <li><span>Item 4</span><span>1</span></li>
        <li><span>Item 5</span><span>2</span></li>
      </ul>
      <div class="order-status in-progress">In Progress</div>
      <div class="order-total">Total: $19.78</div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <strong>Table 22</strong>
      <div class="order-title">Order No. 171</div>
      <ul>
        <li><span>Item 1</span><span>1</span></li>
        <li><span>Item 2</span><span>1</span></li>
        <li><span>Item 3</span><span>2</span></li>
        <li><span>Item 4</span><span>1</span></li>
        <li><span>Item 5</span><span>2</span></li>
      </ul>
      <div class="order-status">Ordering</div>
      <div class="order-total">Total: $34.78</div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <strong>Table 34</strong>
      <div class="order-title">Order No. 123</div>
      <ul>
        <li><span>Item 1</span><span>1</span></li>
        <li><span>Item 2</span><span>1</span></li>
        <li><span>Item 3</span><span>2</span></li>
        <li><span>Item 4</span><span>1</span></li>
        <li><span>Item 5</span><span>2</span></li>
      </ul>
      <div class="order-status served">Served</div>
      <div class="order-total">Total: $66.78</div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <strong>Table 7</strong>
      <div class="order-title">Order No. 155</div>
      <ul>
        <li><span>Item 1</span><span>1</span></li>
        <li><span>Item 2</span><span>1</span></li>
        <li><span>Item 3</span><span>2</span></li>
        <li><span>Item 4</span><span>1</span></li>
        <li><span>Item 5</span><span>2</span></li>
      </ul>
      <div class="order-status served">Served</div>
      <div class="order-total">Total: $27.78</div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <strong>Table 22</strong>
      <div class="order-title">Order No. 167</div>
      <ul>
        <li><span>Item 1</span><span>1</span></li>
        <li><span>Item 2</span><span>1</span></li>
        <li><span>Item 3</span><span>2</span></li>
        <li><span>Item 4</span><span>1</span></li>
        <li><span>Item 5</span><span>2</span></li>
      </ul>
      <div class="order-status in-progress">In Progress</div>
      <div class="order-total">Total: $34.78</div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <strong>Table 39</strong>
      <div class="order-title">Order No. 183</div>
      <ul>
        <li><span>Item 1</span><span>1</span></li>
        <li><span>Item 2</span><span>1</span></li>
        <li><span>Item 3</span><span>2</span></li>
        <li><span>Item 4</span><span>1</span></li>
        <li><span>Item 5</span><span>2</span></li>
      </ul>
      <div class="order-status served">Served</div>
      <div class="order-total">Total: $66.78</div>
    </div>
  </div>
</div>
