<h4>Restaurant</h4>

<div class="restaurant-controls" *ngIf="(restaurant$ | async) as displayedrestaurant; else loading">
  <form class="form-inline">
    <div class="form-group">
      <button class="btn btn-primary add-menu-btn" type="button"  [routerLink]="['/editrestaurant', displayedrestaurant.id]">Update Restaurant</button>
    </div>
  </form>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Name</th>
      <td> {{displayedrestaurant.name}}</td>
    </tr>
    <tr>
      <th scope="row">Tagline</th>
      <td>{{displayedrestaurant.tagline}}</td>
    </tr>
    <tr>
      <th scope="row">Cuisine</th>
      <td>{{displayedrestaurant.cuisine}}</td>
    </tr>
    <tr>
      <th scope="row">Menus</th>
      <td><a [routerLink]="['/menu']">Manage Menus</a></td>
      <!--<td *ngFor="let menu of displayedrestaurant.menus"><a href="http://localhost:4200/menu">{{menu.name}}</a>
        &lt;!&ndash;<ul>&ndash;&gt;
          &lt;!&ndash;<li *ngFor="let menu of displayedrestaurant.menus"><a href="http://localhost:4200/menu">{{menu.name}}</a></li>&ndash;&gt;
        &lt;!&ndash;</ul>&ndash;&gt;
      </td>-->
    </tr>
    <tr>
      <th scope="row">Number of tables</th>
      <td>{{displayedrestaurant.numoftables}}</td>
    </tr>
    <tr>
      <th scope="row">Average Price</th>
      <td>{{displayedrestaurant.avgprice}}</td>
    </tr>
    <tr>
      <th scope="row">Allow Pre-Order</th>
      <td>{{displayedrestaurant.allowpreorder}}</td>
    </tr>


    <tr>
      <th scope="row">Firebase Id</th>
      <td>{{displayedrestaurant.firebaseId}}</td>
    </tr>
    <tr>
      <th scope="row">Restaurant DB Id</th>
      <td>{{displayedrestaurant.id}}</td>
    </tr>

    <tr>
      <th scope="row">Phone Number</th>
      <td>{{displayedrestaurant.phonenumber}}</td>
    </tr>

    <tr>
      <th scope="row">Address 1</th>
      <td>{{displayedrestaurant.address1}}</td>
    </tr>
    <tr>
      <th scope="row">Address 2</th>
      <td>{{displayedrestaurant.address2}}</td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>{{displayedrestaurant.city}}</td>
    </tr>
    <tr>
      <th scope="row">Zip Code</th>
      <td>{{displayedrestaurant.zipcode}}</td>
    </tr>
    <tr>
      <th scope="row">State</th>
      <td>{{displayedrestaurant.state}}</td>
    </tr>
    <tr>
      <th scope="row">Country</th>
      <td>{{displayedrestaurant.country}}</td>
    </tr>


    </tbody>
  </table>

</div>
<ng-template #loading>
  Loading Restaurant...
</ng-template>
